<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Edit Assignee</title>
</head>
<body>
<form th:action="'/editassignee/' + ${assignee.id}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${assignee.name}" required>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:value="${assignee.email}" required>

    <button type="submit">Update</button>
</form>
</body>
</html>