<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>List of Assignees</title>
</head>
<body>
<a href="http://localhost:8080/newassignee">Add new assignee</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="assignee:${assignees}">
        <td th:text="${assignee.getId()}"></td>
        <td th:text="${assignee.getName()}"></td>
        <td th:text="${assignee.getEmail()}"></td>
        <td><a th:href="'editassignee/' + ${assignee.getId()}">Edit</a></td>
        <td><a th:href="'/deleteassignee/' + ${assignee.getId()}">Delete</a></td>
    </tr>
</table>
</body>
</html>